python-dotenv==1.2.1
tomli==2.4.0
tinycss2==1.5.1
jeepney==0.7.1
pycparser==2.23
archspec==0.2.5
brotlicffi==1.2.0.0
jax-cuda12-plugin==0.10.1
hj_reachability==0.7.0
shellingham==1.5.4
pydantic-settings==2.12.0
webencodings==0.5.1
gmpy2==2.2.2
aiofiles==25.1.0
zstandard==0.24.0
wandb==0.26.1
fonttools==4.63.0
sentry-sdk==2.58.0
tensorstore==0.1.84
matplotlib==3.10.9
menuinst==2.4.2
anaconda-auth==0.13.0
huggingface_hub==1.16.4
PySocks==1.7.1
iniconfig==2.3.0
fsspec==2026.2.0
pyphen==0.17.2
flax==0.12.7
cloudpickle==3.1.2
keyring==25.7.0
nvidia-nvshmem-cu12==3.6.5
typing_extensions==4.15.0
nvidia-nvjitlink-cu12==12.9.86
pydantic_core==2.41.5
psutil==7.2.2
networkx==3.6.1
conda-content-trust==0.2.0
certifi==2026.4.22
weasyprint==68.1
cryptography==46.0.5
semver==3.0.4
cycler==0.12.1
tqdm==4.67.3
idna==3.11
jax-cuda12-pjrt==0.10.1
rich==14.2.0
optax==0.2.8
humanize==4.15.0
PyJWT==2.10.1
kiwisolver==1.5.0
filelock==3.20.3
PyYAML==6.0.3
pydyf==0.12.1
nvidia-cublas-cu12==12.9.2.10
MarkupSafe==3.0.2
smmap==5.0.3
nvidia-nccl-cu12==2.30.4
distro==1.9.0
nvidia-cuda-nvcc-cu12==12.9.86
cssselect2==0.9.0
nvidia-cusparse-cu12==12.5.10.65
nvidia-cufft-cu12==11.4.1.4
wheel==0.46.3
tensorboard-data-server==0.7.2
nvidia-cuda-runtime-cu12==12.9.79
typer==0.20.0
jsonpatch==1.33
h11==0.16.0
optree==0.18.0
frozendict==2.4.6
platformdirs==4.5.0
pluggy==1.5.0
mpmath==1.3.0
python-dateutil==2.9.0.post0
orbax-checkpoint==0.11.40
pytest==9.0.3
jaraco.context==6.1.0
prometheus_client==0.25.0
jsonpointer==3.0.0
mdurl==0.1.2
setuptools==80.10.2
pyparsing==3.3.2
readchar==4.2.1
anaconda-anon-usage==0.7.5
GitPython==3.1.47
Jinja2==3.1.6
simplejson==4.1.1
Markdown==3.10.2
markdown-it-py==4.0.0
nvidia-cusolver-cu12==11.7.5.82
conda_package_streaming==0.12.0
hf-xet==1.5.0
jaxlib==0.10.1
charset-normalizer==3.4.4
packaging==25.0
ConfigArgParse==1.7.5
conda==26.1.1
Pygments==2.19.2
pandas==3.0.3
SecretStorage==3.4.0
conda-package-handling==2.4.0
ruamel.yaml.clib==0.2.14
tomlkit==0.13.3
ml_dtypes==0.5.4
nvidia-cuda-nvrtc-cu12==12.9.86
etils==1.14.0
gymnasium==1.2.3
absl-py==2.4.0
conda-libmamba-solver==25.11.0
httpcore==1.0.9
pip==26.0.1
urllib3==2.6.3
sniffio==1.3.1
tinyhtml5==2.1.0
treescope==0.1.10
pillow==12.2.0
pycosat==0.6.6
numpy==2.4.4
annotated-types==0.6.0
click==8.4.1
requests==2.32.5
conda-anaconda-telemetry==0.3.0
nvidia-cuda-cupti-cu12==12.9.79
truststore==0.10.1
boltons==25.0.0
more-itertools==10.8.0
pkce==1.0.3
jaraco.classes==3.4.0
zipp==4.1.0
grpcio==1.80.0
Werkzeug==3.1.8
six==1.17.0
protobuf==7.34.1
stable_baselines3==2.8.0
nvidia-cuda-cccl-cu12==12.9.27
typer-slim==0.20.0
anyio==4.10.0
brotli==1.2.0
ruamel.yaml==0.18.16
conda-anaconda-tos==0.2.2
cffi==2.0.0
torch==2.10.0
tensorboard==2.20.0
opt_einsum==3.4.0
jaraco.functools==4.4.0
libmambapy==2.3.2
scipy==1.17.1
typing-inspection==0.4.2
jax==0.10.1
uvloop==0.22.1
pydantic==2.12.4
gitdb==4.0.12
Farama-Notifications==0.0.6
contourpy==1.3.3
zopfli==0.4.1
nvidia-cudnn-cu12==9.23.0.39
sympy==1.14.0
anaconda-cli-base==0.8.1
msgpack==1.1.1
httpx==0.28.1
